* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
template,
button,
select {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
}
/* COMMON */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2.5rem;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header__action-link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
    transition: 0.25s linear;
}

.navbar__link:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__action-link:hover {
    text-decoration: underline;
}
.header__action-btn {
    --height: 50px;
    min-width: 117px;
}
